<% include partials/header %>


<form action="/lakes" method="post">
    <input type="text" name="name" placeholder="name"></input>
    <input type="text" name="image" placeholder="image url"></input>
    <button>Submit</button>
</form>

<% include partials/footer %>