<!DOCTYPE html>
<html>
    <head>
        <title>Dog Bulletin v2</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <!--Navbar-->
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/bulletin" class="item">Bulletin Board</a>
                <a href="/bulletin/new" class="item">New Bulletin Post</a>
            </div>
        <div class="right menu">
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Sign Up</a>
            <a href="/logout" class="item">Sign Out</a>
        </div>
        </div>
        <div id="placeholder-padding" style="height:60px"></div>
